{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-idiomatic-order"
  ],
  "rules": {
    "rule-empty-line-before": ["always", {
      "except": ["first-nested"],
      "ignore": ["after-comment"],
    }]
  }
}
