@import "../../../../styles/common/vars";

.header {
  padding: 20px 0;
  border-bottom: 1px solid $grey-color;
  background-color: $accent-color;

  &__container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__media {
    display: flex;
    gap: 24px;
  }

  &__profileWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 27px;
  }

  &__loginWrapper {
    display: flex;
    color: $grey-color;
    font-size: 20px;
    gap: 4px;
    line-height: 24px;
  }

  &__link {
    color: $grey-color;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;

    &:hover {
      color: $text-color;
    }
  }

  &__bagWrapper {
    display: flex;
    align-items: center;
    color: $text-color;
    gap: 8px;

    span {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
