@import "../../../../styles/common/vars";

.categories {
  position: sticky;
  border-bottom: 1px solid $grey-color;
  background-color: $accent-color;

  &__container {
    display: flex;
    min-height: 64px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 8px;
  }

  &__list {
    display: flex;
    gap: 32px;
    overflow-x: auto;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $text-color;
    font-family: $main-font;
    font-size: 20px;
    font-weight: 500;
    gap: 9px;
    line-height: 24px;
    white-space: nowrap;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  height: calc(100% - 16px);
  align-items: center;
  opacity: 0.5;

  &__input {
    height: 100%;
    padding: 12px 20px;
    border: 1px solid $text-color;
    border-radius: 4px;
    background-color: transparent;
    color: $text-color;
    font-family: $main-font;
    font-size: 20px;
    line-height: 24px;

    ::placeholder {
      color: $text-color;
      opacity: 1;
    }
  }

  &__searchIcon {
    position: absolute;
    right: 20px;
  }

  &:focus-within {
    opacity: 1;
  }
}
