@import "src/styles/common/vars";

.heroSection {
  padding: 120px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    center / cover no-repeat url("../../assets/img/test-page/hero-section/bg.webp");

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    max-width: 800px;
    font-family: $second-font;
    font-size: 48px;
    font-weight: 800;
    line-height: 125%;
    text-align: center;
  }

  &__subtitle {
    max-width: 800px;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
  }

  &__actions {
    display: flex;
    margin-top: 20px;
    gap: 20px;
  }
}

.cards {
  background-color: $bg-dark;

  &__container {
    padding-top: 80px;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 80px;
    column-gap: 20px;
    row-gap: 32px;
  }
}
