@import "vars";

body {
  background: $bg-color;
  color: $text-color;
  font-family: $main-font;
  font-style: normal;
  line-height: 1.2;
}

input {
  outline: none;
}

[class*="__container"] {
  max-width: $container-width;
  padding: 0 15px;
  margin: 0 auto;
}
