// Fonts
$inter-font: "Inter", sans-serif, Arial;
$raleway-font: 'Raleway', sans-serif;

// Colors
$accent-color: #2C2C2C;
$bg-color: linear-gradient(115.43deg, #1E1E1E 0%, #1C1C1C 100%);
$grey-color: #95928F;
$text-color: #fff;
$brown-color: #816e4c;

// Spacing
$container-width: 1230px;
// Breakpoints

// Containers
