// Fonts
$base-font: "Inter", sans-serif, Arial;
$raleway-font: 'Raleway', sans-serif;

// Colors
$bg-color: linear-gradient(115.43deg, #1E1E1E 0%, #1C1C1C 100%);
$border-color: #95928F;
$text-color: #fff;
$brown-color: #816e4c;

// Spacing

// Breakpoints

// Containers
