.overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 6px 6px 10px 4px rgba(#000, .5);
}
