@import "src/styles/common/vars";

.footer {
  width: 100%;
  padding: 80px 0;
  background-color: $accent-color;
  color: $text-color;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 24px;
  }

  &__address {
  }

  &__nav {
  }

  &__socials {
  }

  &__newsletter {
  }
}

.addressInfo {
  display: flex;
  flex-direction: column;
  font-style: normal;
  gap: 24px;

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
}

.navFooter {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
  }

  &__link {
  }
}

.footerSubtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;

  &_nav {
    margin-bottom: 8px;
  }

  &_socials {
    margin-bottom: 14px;
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &__item {
  }

  &__link {
  }

  &__icon {
    position: relative;
    padding: 6px 16px;
    border-radius: 50%;
    background: linear-gradient(91.06deg, $brown-color 0%, #6f5b39 100%);
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.25);

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      transform: translate(-50%, -50%);
    }

    &_vk {
      &::before {
        background-image: url("../../../assets/svg/vk.svg");
      }
    }

    &_tg {
      &::before {
        background-image: url("../../../assets/svg/vk.svg");
      }
    }

    &_ds {
      &::before {
        background-image: url("../../../assets/svg/vk.svg");
      }
    }

    &_git {
      &::before {
        background-image: url("../../../assets/svg/vk.svg");
      }
    }
  }
}

.newsletter {
  max-width: 280px;

  &__title {
    margin-bottom: 14px;
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  &__inputBox {
    position: relative;
    width: 100%;

    & > input:focus + label,
    & > input:not(:placeholder-shown) + label {
      transform: translateY(-20px) scale(0.75);
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    background-color: $text-color;
    color: $grey-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    pointer-events: none;
    text-align: left;
    transform: translateY(-50%);
    transform-origin: 0 0;
    transition: all 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
    white-space: pre-wrap;
    will-change: transform;

    &_mail {
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 18px 10px 6px;
    border: 1px solid $grey-color;
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    transition: border-color 0.3s;
  }

  &__inputValid {
    &_tel {
    }

    &_mail {
    }
  }

  &__gender {
  }

  &__bottom {
  }

  &__politic {
    color: $grey-color;
    font-size: 10px;
    font-weight: 400;
    text-align: center;

    & > a {
      color: $brown-color;
      text-decoration-line: underline;
    }
  }
}

.genderChoice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;

  &__block {
  }

  &__radio {
  }

  &__input {
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 4px 0 0;
    cursor: pointer;
    opacity: 0;

    &:not(old):checked + label > span {
      border-color: $text-color;
    }

    &:not(old) + label > span {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 3px solid $grey-color;
      border-radius: 50%;
      margin: 0 10px 2px 0;
      cursor: pointer;
      vertical-align: bottom;
    }

    &:not(old):checked + label > span > span {
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 1em;
      margin: 2px;
      background: $text-color;
    }
  }

  &__label {
    color: $text-color;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
}
