@import "src/styles/common/vars";
@import "src/styles/common/mixins";

.card {
  display: flex;
  width: 100%;
  max-width: 280px;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-radius: 16px;
  background: $main-gradient;
  transition: all 0.5s;

  &:hover {
    background: linear-gradient(180deg, #1d1e1e 0%, #6222b791 100%);

    img {
      transform: scale(1.05);
      filter: drop-shadow(0px 0px 32px rgba(255, 255, 255, 0.25));
    }
  }

  // .card__img
  &__img {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

    & > img {
      height: 100%;
      flex: 1 0 auto;
      border-radius: 16px;
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.5s ease, box-shadow 0.3s ease;
    }
  }

  // .card__body

  &__body {
    flex: 1 1 auto;
  }

  // .card__title

  &__title {
    margin-bottom: 12px;
    color: $text-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    @include text-overflow;
  }

  // .card__description

  &__description {
    color: $text-color;
    font-family: $second-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    @include text-overflow(4);
  }

  // .card__footer

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  // .card__price

  &__price {
    color: $text-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
  }

  // .card__button

  &__button {
    flex: 0 1 160px;
    color: $text-color;
  }
}
