.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 280px;
  width: 100%;
  padding: 16px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid $grey-color;

  // .card__img
  &__img {
    overflow: hidden;
    border-radius: 16px;
    & > img {
      border-radius: 16px;
      transition: transform 0.5s ease, box-shadow 0.3s ease;
      &:hover {
        transform: scale(1.2);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      }
    }
  }
  // .card__body
  &__body {
  }
  // .card__title
  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
    color: $text-color;
    line-height: 1.5;
    @include text-overflow;
  }
  // .card__description
  &__description {
    font-family: $raleway-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $text-color;
    @include text-overflow(4);
  }
  // .card__footer
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .card__price
  &__price {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: $text-color;
  }
  // .card__button
  &__button {
    flex: 0 1 180px;
    color: $text-color;
  }
}
